<ion-view title="Contact us" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="contactUs-form6" class="list">
      <label class="item item-select" id="contactUs-select2">
        <span class="input-label">Ubication</span>
        <select>
          <option>Colombia</option>
          <option>USA</option>
          <option>China</option>
          <option>Alemania</option>
          <option>Australia</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-assertive" id="contactUs-toggle2">Notifications</ion-toggle>
    </form>
    <h1 id="contactUs-heading6" style="color:#000000;">Data permissions</h1>
    <form id="contactUs-form8" class="list">
      <div id="contactUs-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Allow GressusApp functions and third-party apps to read and write specific data</p>
      </div>
      <ion-toggle toggle-class="toggle-positive" id="contactUs-toggle5">Accept</ion-toggle>
      <ion-item class="item-divider" id="contactUs-list-item-divider7"> Fast check of my device</ion-item>
      <ion-radio id="contactUs-radio3">Green and red Ligths </ion-radio>
      <ion-checkbox id="contactUs-checkbox1">Checkbox</ion-checkbox>
      <ion-radio id="contactUs-radio4">Power button</ion-radio>
      <ion-checkbox id="contactUs-checkbox3">Checkbox</ion-checkbox>
      <ion-radio id="contactUs-radio6">No humidity and correct location</ion-radio>
      <ion-checkbox id="contactUs-checkbox6">Checkbox</ion-checkbox>
      <ion-radio id="contactUs-radio5">Temperature less than 30°C</ion-radio>
      <ion-checkbox id="contactUs-checkbox5">Checkbox</ion-checkbox>
      <ion-radio id="contactUs-radio7">Other? make a note down</ion-radio>
      <label class="item item-input" id="contactUs-input13">
        <span class="input-label">Note</span>
        <input type="text" placeholder="">
      </label>
      <div id="contactUs-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">ubication:{{data.ubication}} Fast check:</p>
      </div>
      <a href="mailto:ca.perez17@uniandes.edu.co" id="contactUs-button9" class="button button-assertive button-block">Submit</a>
    </form>
  </ion-content>
</ion-view>