<ion-view title="Help and discover" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="helpAndDiscover-button-bar2" class="button-bar">
      <button id="helpAndDiscover-button10" class="button button-assertive button-block">Programs</button>
      <a ui-sref="menu.products()" id="helpAndDiscover-button11" class="button button-assertive button-block">Products</a>
    </div>
    <h1 id="helpAndDiscover-heading7" style="color:#000000;">Popular programs</h1>
    <h3 id="helpAndDiscover-heading8" style="color:#000000;font-weight:300;">Modes of use of my ubkey</h3>
    <ion-list id="helpAndDiscover-list18">
      <ion-item class="item-divider" id="helpAndDiscover-list-item-divider8"> Running</ion-item>
    </ion-list>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.womenshealthmag.com/fitness/a19981345/start-running-tips/">
        <img src="img/4fVQ29yeTAinTkVwp0nX_IMG_20181126_102712.jpg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="helpAndDiscover-list17">
      <ion-item class="item-divider" id="helpAndDiscover-list-item-divider10"> Goniometer</ion-item>
    </ion-list>
    <div>
      <a style="display:block;" href-inappbrowser="https://tecnoedu.com/Pasco/PS2137.php">
        <img src="img/yBLm6eJbQgCmWXsE4TZ9_images.jpg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>