<ion-view title="Home" id="page1">
  <ion-content padding="true" style="background: url(img/ZNyxCa1EQ6K1guI067RD_ONVIQD0.jpg) no-repeat center;background-size:cover;" class="has-header"></ion-content>
</ion-view>
</form>
<ion-button ui-sref="login()">Default</ion-button>

