<ion-view title="Login" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/SDFRdIJS3m3pLIcdXQn4_a0a0ecfc83751fca9f1926716b3e144d.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input item-stacked-label" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.home()" id="login-button1" class="button button-stable button-block button-outline">Log in</a>
      <a ui-sref="menu.signup()" id="login-button2" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
    <button id="login-button13" class="button button-positive button-block icon-left ion-social-facebook">Login with Facebook</button>
    <button id="login-button14" class="button button-calm button-block icon-left ion-social-twitter-outline">Login with Twitter</button>
  </ion-content>
</ion-view>