<ion-view title="Med login" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="medLogin-form3" class="list">
      <ion-list id="medLogin-list9">
        <label class="item item-input" id="medLogin-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="medLogin-input10">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.medUser()" id="medLogin-button6" class="button button-assertive button-block">Log in</a>
      <a href-inappbrowser="https://medicosdoc.com/asociaciones-medicos-colombia.aspx" id="medLogin-button7" class="button button-assertive button-block button-clear">Confirm your medical credencial here</a>
    </form>
  </ion-content>
</ion-view>