<ion-view title="Med user" id="page3">
  <ion-content padding="true" style="background: url(img/cbS7k0QITQagykLcxQkw_appointment-book-blur-care-40568.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="medUser-heading4" style="color:#D65F1E;font-weight:600;">My patients</h1>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="medUser-list6">
      <ion-item class="item-divider" id="medUser-list-item-divider1"> Nombre</ion-item>
      <label class="item item-input" id="medUser-input6">
        <span class="input-label">Camilo Pérez</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="medUser-list-item-divider2"> Edad: 21 años</ion-item>
      <ion-item class="item-divider" id="medUser-list-item-divider3"> Sexo: Masculino</ion-item>
    </ion-list>
    <h1 id="medUser-heading5" style="color:#AA5A12;font-weight:600;">Clinical status</h1>
    <ion-list id="medUser-list7">
      <ion-item class="item-divider" id="medUser-list-item-divider4"> Diagnóstico</ion-item>
      <label class="item item-input" id="medUser-input7">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="medUser-list-item-divider5"> Rehabilitación</ion-item>
      <label class="item item-input" id="medUser-input8">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <ion-list id="medUser-list8">
      <ion-item class="item-divider" id="medUser-list-item-divider6"> Estudio </ion-item>
    </ion-list>
    <a ui-sref="menu.myData()" id="medUser-button5" class="button button-assertive button-block">Ver data</a>
    <button id="medUser-button4" class="button button-assertive button-block">Add new patient</button>
  </ion-content>
</ion-view>