<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 0px;"></div>
      <div class="spacer" style="width: 268px; height: 21px;"></div>
      <h3 id="menu-heading1" style="color:#EEECEC;font-weight:300;text-align:center;">GressusApp</h3>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <button id="menu-button18" class="button button-light button-block button-clear">Set picture profile</button>
      <h4 id="menu-heading2" style="color:#F1E5E5;font-weight:400;text-align:center;">User name</h4>
      <div class="spacer" style="width: 268px; height: 21px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right side-menu-item" id="menu-list-item1" ui-sref="menu.home()" menu-close="">My data
          <i class="icon ion-android-contact"></i>
        </ion-item>
        <ion-item class="item-icon-right side-menu-item" id="menu-list-item2" ui-sref="menu.medLogin()" menu-close="">Med login
          <i class="icon ion-ios-medical-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right side-menu-item" id="menu-list-item4" ui-sref="menu.helpAndDiscover()" menu-close="">Help and discover
          <i class="icon ion-help"></i>
        </ion-item>
        <ion-item class="item-icon-right side-menu-item" id="menu-list-item5" ui-sref="menu.contactUs()" menu-close="">Contact us
          <i class="icon ion-android-contacts"></i>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>