<ion-view title="My data" id="page2">
  <ion-content padding="true" class="has-header">
    <h2 id="myData-heading3" style="color:#665252;text-align:center;" class="Playfair Display">Recent data</h2>
    <ion-list id="myData-list12">
      <ion-item id="myData-list-item9">Datos 1</ion-item>
    </ion-list>
    <div>
      <img src="img/gFQrCsORepllTFmlq1A3_WhatsAppImage2019-03-23at3.15.56AM.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AQk0v10AR7qfEjMdfNxR_WhatsAppImage2019-03-23at3.18.55AM.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="myData-button8" class="button button-assertive button-block">Pull more data</button>
    <form id="myData-form4" class="list">
      <ion-toggle toggle-class="toggle-assertive" id="myData-toggle1">Share data</ion-toggle>
    </form>
    <button id="form-button8" class="button button-positive" ng-click = "picture(false)">Take Picture</button>
<button id="form-button9" class="button button-positive" ng-click = "picture(true)">Open Gallery</button>
</ion-content>
</ion-view>