<ion-view title="Products" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="products-heading9" style="color:#000000;">Go to the trade!</h1>
    <ion-list id="products-list10">
      <ion-item class="item-divider" id="products-list-item-divider11"> Ubkey</ion-item>
    </ion-list>
    <div>
      <img src="img/aAAOsHbRXCJxyfmCOtwR_WhatsAppImage2019-04-05at6.44.34PM.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href="mailto:ca.perez17@uniandes.edu.co" id="products-button12" class="button button-assertive button-block">Order</a>
    <ion-list id="products-list11">
      <ion-item class="item-divider" id="products-list-item-divider12"> Ubkey for goniometer</ion-item>
    </ion-list>
    <div>
      <img src="img/WD2W9bwTSrqduBinir6g_images.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href="mailto:ca.perez17@uniandes.edu.co" id="products-button15" class="button button-assertive button-block">Order</a>
  </ion-content>
</ion-view>