<ion-view title="Signup" hide-nav-bar="true" id="page5">
  <ion-content padding="true" style="background: url(img/472mnIKyS0yWXEGW0ZCi_a0a0ecfc83751fca9f1926716b3e144d.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input item-stacked-label" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
        <ion-toggle toggle-class="toggle-assertive" id="signup-toggle6">Med user</ion-toggle>
      </ion-list>
      <a ui-sref="menu.login()" id="signup-button3" class="button button-stable button-block button-outline">Sign up</a>
    </form>
    <button id="signup-button16" class="button button-positive button-block icon-left ion-social-facebook">Sing up with Facebook</button>
    <button id="signup-button17" class="button button-calm button-block icon-left ion-social-twitter-outline">Sing up with Twitter</button>
  </ion-content>
</ion-view>